body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  box-sizing: border-box;
}

div {
 display: block;
 unicode-bidi: isolate;
}

#my-title {
  font-size: 3em;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#my-nav-content {
  margin: 0;
  padding: 0;
  overflow: hidden; 
  list-style: none;
  background-color: #333;
}

li{
  flex:  1;
  text-align: center;
}

#img {
  width: 30px;
  height: 30px;
  margin: 0px;
  display: block;
}


#listNavBar {

  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.content {
  background-color: red;
  margin: 5px;
}

.contenedor {
  border: 2px solid black;
}