body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  box-sizing: border-box;
}

#tituloNavBar {
  margin-left: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  paddding: 10px 20px;
  color: white;
}

.navbar li {
  flex: 1; /* que cada <li> ocupe el mismo ancho */
  text-align: center;
}

#listNavBar {
  
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.content {
  background-color: red;
  margin: 5px;
}
